apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://minimaster.example.com:8443
  name: minimaster-example-com:8443
contexts:
- context:
    cluster: minimaster-example-com:8443
    namespace: cakephpmysql
    user: anli/minimaster-example-com:8443
  name: cakephpmysql/minimaster-example-com:8443/anli
current-context: cakephpmysql/minimaster-example-com:8443/anli
kind: Config
preferences: {}
users:
- name: anli/minimaster-example-com:8443
  user:
    token: F18IOz69FoKju9XuulvU2SVbV0KhnL56JVWvmw_xs2A
